html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(145deg, #E1BDFF 0%, #B24CFC 40%, #9298E8 60%, #FFFFFF 100%);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
}

main {
    max-width: 500px;
    margin: 100px auto 0 auto;
    text-align: center;
}
header {
    background: linear-gradient(45deg, #7369F2 0%, #7369F2 40%, #B24CFC 60%, #B24CFC 100%);
    min-width: 100vw;
    max-height: 80px;
    position: fixed;
    top: 0;
    left: 0
}
h1 {
    text-align: center;
}
.photo-profile {
    max-width: 200px;
    border-radius: 100%;
    border: 5px solid #7369F2;
    margin: auto;
    text-align: center;
}

.logo {
    max-height: 80px;
    margin: 0 calc(50vw - 40px);
}

.subscriber {
    border: 5px solid #7369F2;
    border-radius: 20px;
    padding: 20px 0;
    max-width: 300px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.bouton-pic-share {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(45deg, #7369F2 0%, #7369F2 40%, #B24CFC 60%, #B24CFC 100%);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.bouton-pic-share:hover{
    background: linear-gradient(45deg, #ab38f8 0% , #b241fb 40%,#6c62f3 60%, #5f52f3 100%);
    transform: scale(1.05);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
