body {
    padding: 0;
    margin: 0;
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
}
footer {
    position: fixed;
    bottom: 0;
    height: 91px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
footer nav img {
    height: 60px;
    margin: 20px;
}

footer nav {
    padding: 0;
    margin: 0;
}
footer a {
    text-decoration: none;
}
