
@keyframes bougeHoriz {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

#fleche {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    animation: bougeHoriz 1.5s ease-in-out infinite;
    position: absolute;
    top: 20px;
    left: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}