* {
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    cursor: url("../images/curseur.png"), pointer;
}

body {
    background-image: url("../images/wallpaper-login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.profil-pic {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    margin-top: 10%;
    padding: 20px;
    animation: fadeInDown 1s ease-out;
}

.eye {
    background: none;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: url("../images/curseur_hover.png"),pointer;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    animation: fadeInDown 1s ease-out;
    padding: 20px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation changement fenêtre */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

button {
    margin-left: 46%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 18px;
    cursor: url("../images/curseur_hover.png"),pointer;
    transition: background 0.3s;
    animation: fadeInUp 1s ease-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

/* Secousse */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-8px);
    }
    40% {
        transform: translateX(8px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
}

input.error {
    border-bottom: 2px solid #ff3f3f;
    animation: shake 0.3s;
}

.login-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}