/* Style général */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a, #262626);
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    position: relative; /* nécessaire pour bien gérer les couches */
}

/* Vidéo en arrière-plan */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* remplissage sans déformation */
    z-index: -1; /* envoie derrière le contenu */
}

/* Logo */
.logo {
    position: fixed;
    display: block;
    top: -50px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    animation: fadeInDown 1.2s ease-out;

    z-index: 1; /* reste au-dessus de la vidéo */
}

/* Menu */
.menu {
    position: fixed;
    top: 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    animation: fadeInUp 1.2s ease-out;

    z-index: 1; /* reste au-dessus de la vidéo */
}

/* Boutons du menu */
.menu button {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.6);
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.menu button:hover {
    background: #fff;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: black;
}

/* Animations */
@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-40px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}
